

p{
    color : red ;
}

div{
    display: inline-block;
}


#d1{
    outline: 2px solid red ;
    text-align: center;
    border-width: 10px;
    border-radius: 20px;
    width: 100px;
    height: 150px;
    border-style: solid;
    border: 15;
    color: cadetblue;
    margin-bottom: 15px;
    margin-left: 20px;
}

#d1 p{
    color: black;
    
}


#d2{
    outline : 6px solid grey ; 
    height: 50px;
    width: 50px;
    text-align:center;
    margin-left: 20px;


}